.container {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	gap: 100px;
}
.img {
	object-fit: cover;
	margin: 10px;
	border: 1px solid rgb(150, 150, 238);
	width: 25%;
	border: none;
	border-radius: 10px;
}
.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.quantity {
	width: 80px;
}
.link {
	margin: 10px 0;
	text-decoration: none;
}

h1 {
	font-weight: 500;
}
